/* Custom Fonts */
@import url("https://fonts.googleapis.com/css?family=Patua+One");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");

/* Style that applies to all pages. */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: 3;
}

.content {
    padding-left: 15em;
    padding-right: 15em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.site-title {
    color: white;
    font-family: 'Patua One', cursive;
}  

.footer {
    text-align: center;
    color: grey;
    padding-top: 1em;
    padding-bottom: 1em;
}